@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


*{
    margin: 0;
    padding: 0;
}


.navbar{
    display: flex;
    /* gap: 10vw; */
    overflow: hidden;
    background-color: black;
    color: antiquewhite;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 6px rgba(78, 77, 77, 0.849);
    align-items: center;
}


.search-bar {
    background-color: #000000; 
    padding: 20px;
    text-align: center;
    padding-left: 3vw;

}


.search-container {
    display: flex;
    background-color: #fff;
    border-radius: 7px;
    overflow: hidden;
    width: 40vw;
}


.search-container input[type="text"] {
    width: 80%; 
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-container button[type="submit"] {
    width: 20%; 
    padding: 10px;
    background-color: #013b10; /* Amazon's search button color */
    border: none;
    color: #ffffff; /* Amazon's text color */
    font-weight: bold;
    cursor: pointer;
}

/* Style the button when hovering */
.search-container button[type="submit"]:hover {
    background-color: #ff9900; /* Amazon's hover color */
}
.items ul{
    display: flex;
    list-style: none;
    gap: 1vw;
    font-weight: 400;
    padding-left: 25vw;
}

.items a:visited{
    color: antiquewhite;
    text-decoration: none;
}
a{
    text-decoration: none;
}